# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Database & Environment
*.db
*.sqlite
*.sqlite3
*.env
.env
instance/
.pytest_cache/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

